.image {
  height: 95px;
  width: 125px;
  margin-right: 10px;
}
.button {
  display: flex;
  margin: 10px;
  background-color: transparent;
  border: none;
  align-items: top;
  justify-content: center;
  align-self: stretch;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button:hover {
  color: brown;
}
.list-item {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: blanchedalmond;
  width: 95%;
}
.list-item-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.delete-icon {
  color: #ffffff;
}
